@tailwind base;

.fade-entering {
    opacity: .0;
}

.fade-entered {
    opacity: .9;
    transition: 200ms;
}

.fade-exiting {
    opacity: .0;
    transition: 200ms;
}

.fade-exited {
    opacity: 0;
    display: none;
}

@tailwind components;
@tailwind utilities;

html{
    font-size:14px;
    letter-spacing: 0.06em;
}

@media screen and (max-width: 48rem) {
    .slick-list, .slick-track {
        height: 500px;
    }
    .slick-slide > div{
        height: 100%;
    }
    .slick-slide img{
        height: 100% !important;
        width: 100% !important;
    }
}